@import "grundfile.less";

.button {display: block; background: #f45653; color: #fff; font-family: @fontB; border-radius: 4px; padding: 8px 10px;  float: left; text-decoration: none; font-size: 12px;
}
.button:hover {background: @colfirm2; color: #fff;}

.button-big {display: block; background: #f45653; color: #fff; font-family: @fontB; border-radius: 4px; padding: 8px 10px;  float: left; text-decoration: none; font-size: 15px;
}
.button-big:hover {background: @colfirm2; color: #fff;}




.wrapper {float: left; width: 100%;}

.content {position: relative; display: block; margin: 0 auto; width: 940px;}
section {position: relative; display: block; float: left; width: 100%;}

header {width: 100%; float: left; height: 95px; background: @colfirm;
.content {height: 100%;}
.button {display: block; background: #f45653; color: #fff; font-family: @fontB; border-radius: 4px; padding: 8px 10px;}

.logo {float: left; height: 100%;  display: table;
a {float: left; width: 220px; height: 66px; .bgCCC; background: url(../img/logo.jpg);}
}

.time {position: relative; float: left; height: 100%;  display: table; width: 167px; margin-left: 60px;
a {float: left; min-height: 45px;  margin-top: 10px; width: 100%;
span {float: left; display: block; font-size: 15px; color: #fff; margin: 4px 0;}  
}       
}
    
.time::before {content:''; position: absolute; width: 15px; height: 15px; display: block; .bgCCC; left:-27px; top: 31px; background: url(../img/time.png);}

.phone {position: relative; float: left; height: 100%;  display: table; width: 167px; margin-left: 110px;
a {float: left; min-height: 45px;  margin-top: 10px; width: 100%;
span {float: left; display: block; font-size: 15px; color: #fff; margin: 4px 0;}  
}       
}
    
.phone::before {content:''; position: absolute; width: 17px; height: 17px; display: block; .bgCCC; left:-27px; top: 31px; background: url(../img/phone.png);}
  
.button-block {float: right; height: 100%;  display: table; margin-top: 3px;
a {float: right; padding: 12px 28px; background: #f45653; color: #fff; font-family: @fontB; font-size: 15px; text-align: center; text-transform: uppercase; border-radius: 4px;}
}
   
}

.navigate {width: 100%; float: left; height: 60px; background: #fff;
    .content {height: 100%;}    
.left-block {float: left; width: 240px; padding-right: 20px; height: 100%; display: table; position: relative;
input {float: left; width: 184px; border: solid 1px #bcbcbc; border-radius: 3px; padding: 8px 18px; font-size: 15px; margin-top: -2px;} 
.search{position: absolute; top:21px; right: 31px; display: block; width: 17px; height: 17px; .bgCRC; background: url(../img/search.png);  } 
}

nav {float: left; height: 100%; width: 698px; overflow: hidden;
a {display: inline-block; float: left; color: @coltxt; font-size: 16px; font-family: @fontB; margin-right: 80px; padding-top: 18px; .m-speed;}   
a:last-child { margin-right: 0px;}
a:hover { color: #f45653;}
a.active { color: #f45653;}
}

}



.home {
.content{padding-top: 20px;}    
.left-block {float: left; width: 250px; padding-right: 20px; height: 100%; display: table; 
.sub--menu--tovarov { float: left; width: 100%; margin-bottom: 34px;
.title-block {float: left; width: 100%; height: 54px;
.title-block-txt {display: inline-table; width: 190px; height: 100%; background: @colfirm2; float: left; padding: 15px;
span {color: #fff; .middle; font-family: @fontB;}    
}    
.title-block-ico {display: inline-table; width: 40px; height: 100%; background: #f45653; float: left;
i {display: block; width: 12px; height: 8px; .bgCCC; background: url(../img/s1.png); position: relative; margin: 0 auto;}    
}   
    
}
    
.sub--menu--min{float: left; width: 100%; padding: 15px; background: @colfirm; border-bottom: solid 1px #413f53;
.sub-titl {position: relative; float: left; width: 100%; display: block; color: #fff; text-transform: uppercase; font-size: 14px; padding: 5px 0 12px; line-height: 1.7;}    
.sub-titl-ico { position: absolute; color: #fff; top:10px; right: -7px;  .bgCCC; background: url(../img/s1.png); .pov5;  height: 11px;
    width: 11px;}    

.sub--menu--min-list-one {float: left; width: 100%;
li {display: block; float: left; width: 100%; a {font-size: 14px; color: #fff; display: block; width: 100%;  padding: 10px 20px; }
    
    } li:hover{background: #413f53;}
} }    
} 
    
.sub--menu--akciii { float: left; width: 100%; margin-bottom: 34px; height: 70px; margin-bottom: 10px; background: @colfirm2;
.sub--akciii-titl {width: 100%; float:left; font-size: 15px; color: #fff; padding: 20px 10px 7px; text-align: center;}
.sub--akciii-ico {float: left; width: 100%; text-align: center;
i {position: relative; display: inline-block; .bgCCC; background: url(../img/s1.png); .pov5;  height: 14px; width: 14px;}      
}
}
    
.sub--menu--akciii--list-one {width: 100%; float: left; background: @colfirm; padding: 15px;
.one {display: block; width: 100%; padding: 15px 0; overflow: hidden; margin-left: -7px; float: left;
.one-b {width: 50%; float: left; .bgCC; height: 115px; border-left: solid 7px @colfirm; border-right: solid 7px @colfirm;
h3 {font-family: @fonttxt; color: #fff; font-size: 14px; display: block;}
.cash {display: block; font-size: 18px; font-family: @fontB; color: #fff; margin-top: 8px; margin-bottom: 23px;}
}

.button {display: block; background: #f45653; color: #fff; font-family: @fontB; border-radius: 4px; padding: 8px 10px;
    
}}
    
}

.next--stick {width: 100%; float: left; background: @colfirm2; height: 40px; text-align: center; display: table; margin-top: 10px;

i {position: relative; display: inline-block; .bgCCC; background: url(../img/s1.png);  height: 14px; width: 14px;} 
    
    } .next--stick:hover {background: #2e7166;}
    
    
    }

//left menui close


.right-content-block {float: right; width: 690px; min-height: 550px;
.slide {float: left; width: 100%; img {width: 100%; height: auto; margin: 0px;}
}    
    
.act-block {float: left; width: 100%; margin-top: 30px;
    h3 {display: inline-block; float: left; color: @coltxt; font-size: 23px; font-family: @fontB;}
    .reed-more {float: right; display: inline-block; float: right; font-size: 15px; font-family: @fontB; color: @colfirm2; text-decoration: underline; margin-top: 9px;}
}
    
.news--tovar--block {float: left; width: ~"calc(100% + 20px)"; margin-top: 20px; overflow: hidden; margin-left: -10px;}
.news--tovar--one {float: left; width: 33.333333%; border-left: solid 10px #e3e3e3; border-right: solid 10px #e3e3e3; position: relative; padding-bottom: 15px; background: #21202e;
h3 { font-family: 'TSansRegular', sans-serif; color: #fff; font-size: 15px; display: block; background: @colfirm2; float: left; width: 100%; height: 86px; line-height: 1.5;
padding: 10px 15px;}    
.image--block {float: left; width: 100%; height: 190px; border: solid 15px @colfirm; .bgCC;}    
.cena-art {float: left; display: block; width: 100%; padding: 7px 15px; color: #fff; font-size: 14px; background: @colfirm;
.button {display: inline-block; background: #f45653; color: #fff; font-family: @fontB; border-radius: 4px; padding: 8px 14px;}   
}
.cena-old {float: left; display: inline-block; font-size: 15px; text-decoration: line-through;  color: #fff;  background: @colfirm; margin-right: 15px; }
.cena-new {float: left; display: inline-block; font-family: @fontB; font-size: 20px; color: #f45653; background: @colfirm; margin-top: -6px;}
.new-teeser {display: inline-block; background: #e3e3e3; color: #f45653; font-family: @fontB; padding: 8px 14px; .pov2;
position: absolute; top:110px; right: -24px;    
}
} 
    
    
    
.txt-block {float: left; width: 100%; margin-top: 70px; margin-bottom: 20px;    
article {float: left; width: 100%;
h2 {font-size: 30px; color: @coltxt; font-family: @fontB;}     
p {font-size: 15px; line-height: 1.6; margin: 18px 0;}    
}    
}
    
.inform--block {float: left; width: 100%; margin-bottom: 20px; background: #fff; padding: 20px; border-radius: 1px; border: solid 1px #d5d4d4;
    
.act-block {float: left; width: 100%; margin-top: 10px; margin-bottom: 16px;
h3 {display: inline-block; float: left; color: @coltxt; font-size: 23px; font-family: @fontB;}
.reed-more {float: right; display: inline-block; float: right; font-size: 15px; font-family: @fontB; color: @colfirm2; text-decoration: underline; margin-top: 9px;}
}
    
.inform--block--table {float: left; width: 100%; height: 240px; background: @colfirm; padding: 20px 5px;}
.one--news {width: 33.33333%; float: left; height: 100%; .bgCC; position: relative;
border-left: solid 10px @colfirm; border-right: solid 10px @colfirm;    
    
.butt-bot {position: absolute; display: block; bottom: 0px; left: 0px; width: 100%; 
color: #fff; text-align: center; font-family: @fontB; background: @colfirm2;  padding: 12px 18px; font-size: 15px; border-top-right-radius:3px; border-top-left-radius:3px;} 
.bgping {background: #f45653; border-radius:3px;}

.inform--block-prod {float: left; width: 100%; height: 158px; background: @colfirm; 
.prod {float: left; width: 50%; height: 50%; display: inline-table;
.middle {text-align: center; 
img{position: relative; display: block; border-radius: 5px;  width: 85%; margin: 0 auto;}}    
}
    
    
}    
    
    } .none-solid {border: solid 0px;}    
    
}
    
    
} 


}






footer {position: relative; display: block; float: left; width: 100%; height: 130px; background: @colfirm; margin-top: 35px;
.content {height: 100%;}
.logo {float: left; height: 100%;  display: table; margin-right: 40px;
a {float: left; width: 220px; height: 66px; .bgCCC; background: url(../img/logo2.png);}
}  
.dfoot-menu {float: left; height: 100%; text-align: center;
li { height: 100%; display: inline-table;
a {.middle; text-transform: uppercase; color: #fff; font-size: 14px; padding: 0 18px; text-decoration: underline; }  
a:hover {color: #f45653;}   
}    
    
}
.social {float: right; height: 100%; display: inline-block;
li {float: left; display: inline-table; height: 100%;
a{display: block; width: 30px; height:30px;  .bgCCC; margin: 0 30px 0 0;}
    a:hover {background-color: #f45653}   

.face {background: url(../img/face.svg); background-color: @colfirm2;}
.tv {background: url(../img/tvit.svg); background-color: @colfirm2;}
.insst {background: url(../img/inst.svg); background-color: @colfirm2; margin-right: 0px;}
}    
    
}    
    
  
    
}


.home .right-content-block h1 {
    font-size: 30px !important;
    color: #21202e !important;
    font-family: 'PTSansBold', sans-serif !important;
    margin-bottom: 20px;
}


.home .right-content-block .news--tovar--one {
    margin-bottom: 20px;

}


.krash {float: left; width: 100%; margin-bottom: 15px;
a {font-size: 14px; color: #f45653; }
a.active {font-size: 14px; color: #f45653; text-decoration: underline; }

}

.s-form--tovs{ float: left; width: 100%; margin-bottom: 20px; background: #f0f0f0; padding: 15px 30px; border-radius: 1px; border: solid 1px #d5d4d4; min-height: 205px; position: relative;
.s-form--tovs--line {float: left; width: 100%; padding: 15px 0;}
label {display: inline-block; float: left; min-width: 115px; color: #333333; font-size: 14px;  }    
.ot--do {display: inline-block; float: left; color: #333333; font-size: 14px; margin-right: 15px } 
.in {color: #333333; font-size: 14px; display: inline-block; float: left; width: 65px; border: solid 1px #d5d4d4; margin-top: -6px; margin-right: 10px; padding: 4px 6px;}
a {display: inline-block; float: left; color: #333333; font-size: 14px; margin-right: 15px; margin: 0 25px; text-decoration: underline; position: relative;   
    
}     
.tovs-cl{position: absolute; display: none; width: 12px; height: 2px; background: #f45653; .pov1; top: 3px; right: -16px;} 
.tovs-cl::before  {content: ''; display: block; width: 12px; height: 2px; background: #f45653; .pov2;  } 
a:hover {color: #f45653; .tovs-cl{display: block;}} 
.dec-non {text-decoration: none !important;}  
    .activs-cl {color: #f45653; .tovs-cl{display: block;}}    
    
.s-form--tovs--line3 {float: left; width: 100%; padding: 15px 0;
    
.one-b {position: relative; float: left; display: block; padding: 12px 28px; background: #f45653; color: #fff; font-family: @fontB; text-decoration: none; margin-left: 0px; margin-right: 15px;}    
.one-b::before {content: ''; position: absolute; display: block; width: 25px; height: 25px; right: -5px; top: 8px; .pov1; background:#f45653; }    

.two-b {position: relative; float: left; display: block; padding: 12px 28px; background: @colfirm2; color: #fff; font-family: @fontB; text-decoration: none; margin-left: 0px; margin-right: 15px; position: relative;
    
.b-cl {position: relative; display: inline-block; width: 16px; height: 2px; background: #fff; .pov1; top: -4px; left: -5px;}    
.b-cl::before {content: ''; position: absolute; display: inline-block; width: 16px; height: 2px; background: #fff; .pov2; top:0px; left: 0px;}    
}  
   
.dec-non {text-decoration: none !important;}
    
}
    
    
.liners {position: absolute; bottom: 15px; right: 15px;
li {float: left; width: 26px; height: 26px; margin: 0 13px; background-color: @colfirm2; .bgCCC; cursor: pointer;}    
.lins {background-image: url(../img/liners.png);}
.lins2 {background-image: url(../img/kubs.png);}
.lins3 {background-image: url(../img/wtf.png); margin-right: 0px;}
li:hover {background-color: #f45653}
.active {background-color: #f45653}  

    }
    
    

    
}

.paginator {float: right; margin: 25px 0; 

li {display: inline-table; float: left; margin: 0 6px;
 a {display: block; padding: 10px 6px; color: #333333 }    
}    
 
.active {background: #f45653; a {color:#fff;}}
li:hover  {background: #f45653; a {color:#fff;}}     
}



.karta-tovara {float: left; width: 100%; 
.karta-tovara--slider {float: left; width: 320px; border-right: solid 20px transparent; overflow: hidden;
.karta-tovara--slider-ekran {float: left; width: 100%; height: 230px; .bgCC; margin-bottom: 15px;}    
.karta-tovara--slider-row  {float: left; width: 100%;
a {float: left; width: 20%; height: 50px; .bgCC; margin-right: 20px}  
a:last-child { margin-right: 0px}  
a:hover { border: solid 2px #f45653}  
    
} 
    
}

.karta-tovara--info {float: left; width: 370px; background: #f0f0f0; padding: 15px; border-radius: 1px; border: solid 1px #d5d4d4; min-height: 205px; position: relative; height: 295px;
.old-cena {font-size: 16px; float: left; width: 100%; margin-bottom: 15px; text-decoration: line-through;}     
.new-cena {font-size: 24px; float: left; width: 100%; margin-bottom: 15px; color: @colfirm2; font-family: @fontB;}   
.karta-tovara--one-line {float: left; width: 100%; margin-bottom: 20px;
.desc {color: #a5a5a5; font-size: 15px; display: inline-block; min-width: 135px; }  
.prod-ps {display: inline-block; .bgCC; width: 85px; height: 20px; background: url(../img/prois.jpg); margin-bottom: -5px;}  
.prod-color {display: inline-block;  width: 30px; height: 30px; border: solid 1px #d5d4d4; margin: 0 5px; margin-bottom: -10px;} 
    .ya-share2__item_service_collections {display: none} .ya-share2__item {margin-right: 10px;}
}
    
.karta-tovara--one-opt {float: left; width: 100%; margin: 15px 0 25px;
i {display: inline-block; float: left; width: 40px; height: 40px; .bgCCC; background: url(../img/proc.png); margin-right: 20px;}   
span {font-family: @fontB; font-size: 15px; }    
}    
    
    
}}



.parametri {float: left; width: 100%; margin-top: 110px;

.tabs {width: 100%; float: left; height: 200px; background: #fff;  border: solid 1px #d5d4d4; position: relative;
    
.button--tab { float: left; width: 100%; margin-top: -41px; margin-bottom: 15px; margin-left: -1px;
.but-one {display: inline-block; float: left; padding: 10px 18px; background: @colfirm2;
 margin-right: 5px;    border: solid 1px #d5d4d4; color: #fff; font-family: @fontB; font-size: 15px; margin-bottom: -1px;}    
.active {background: #fff; color: @coltxt;  border-bottom: solid 1px #fff;}    
} 
    
.abs-tab {position: absolute; display: block; width: 100%; height: 100%; top:0px; left: 0px; padding: 15px}    
    
.one-line {float: left; display: table; width: 100%; height: 40px; float: left;}   
.two-line {float: left; display: table; width: 100%; height: 30px; background: #f0f0f0; float: left;}   
.title {font-family: @fontB; color: @coltxt; display: inline-block; padding-left: 18px; min-width: 340px; }    
.sizer {color: @coltxt; display: inline-block; font-size: 14px;}    
}

.tags {float: left; width: 100%; background: #f0f0f0; height: 39px; display: table; border-top: solid 1px #d5d4d4; padding: 0 33px; margin-right: 15px; margin-bottom: 70px;} 
 a {color: @coltxt; text-decoration: underline;}
 a:hover {color: #f45653}

}


.recom {float: left; width: 100%; margin-bottom: 70px;
h2 {margin-bottom: 32px;}
.recom-tovs-block {float: left; width: 100%; display: inline-block;
.recom-one {float: left; width: 33.33333%; padding-right: 20px;
.image {float: left; width: 100%; img {width: auto; margin: 0px;}}    
.recom-title {margin: 22px 0; color: #f45653; font-size: 15px; float: left; width: 100%}
.old-cena {display: inline-block; text-decoration: line-through; margin-right: 15px;}    
.new-cena {display: inline-block; font-size: 20px; font-family: @fontB;}    
}    
    
    

    }


}

.kategori {float: left; width: 100%;
h2 {margin: 32px 0;}

.kat-but {float: left; display: block; padding: 12px 28px; background: #276c61; color: #fff; font-family: 'PTSansBold', sans-serif; text-decoration: none; margin-left: 0px; margin-right: 35px; position: relative;
}

    .kat-but::before {content: ''; position: absolute; display: block; background: @colfirm2; .pov1; right: -14px; top:6px; width: 30px; height: 30px;}    

}


article {float: left; width: 100%;
h1, h2, h3, h4, h5, h6, p {margin: 15px 0;}
h1, h2, h3, h4 {font-family: @fontB; color: @coltxt;}
h1 {font-size: 30px; margin-top: 0px}
h2 {font-size: 23px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-family: @fonttxt; font-size: 18px;}
h6 {font-family: @fonttxt; font-size: 18px; color: #878688;}

p {font-size: 14px; float: left; width: 100%;}
a {color:#f45653; text-decoration: underline;} 
a:visited {color: #c59b9a}
a:hover {color: @colfirm2;}
    
p.reeds { font-style: italic; padding: 20px 25px; border: solid 2px @colfirm2; margin: 25px 0;}
b {font-family: @fontB;}    
    
ul { float: left; width: 100%; padding-bottom: 8px; margin-bottom: 18px;  
li { position: relative; float: left; width: 100%; font-size: 14px; padding: 12px 0; padding-left: 17px; font-weight: 400;}  
li::before { content: ''; position: absolute; left: 0px; top: 18px; width: 5px; height: 5px; background: @colfirm2;}    
    
}  
    
ol { float: left; width: 100%; padding-bottom: 8px; margin-bottom: 18px; counter-reset: li; padding: 0; list-style: none; margin-left: 18px;
li { position: relative; float: left; width: 100%; font-size: 14px; padding: 12px 0; font-weight: 400;
}
    
li::before { content: counter(li); content: counter(li) '. '; counter-increment: li; position: absolute; top: 8px; left: -2em; width: 2em; padding: 4px 0; text-align: center; font-size: 15px;
}    
    
} 
    
form {float: left; width: 100%;  margin: 15px 0;
    
label {color: #666666; font-size: 15px; float: left; width: 100%; margin-bottom: 12px;}    
label.time {color: @coltxt; font-size: 15px; float: left; width: auto; margin-right: 15px; margin-bottom: 12px;}  
input, textarea {font-size: 15px; float: left; width: 100%; margin-bottom: 30px; color: @coltxt;
padding: 10px 18px; border: solid 1px #bcbcbc;  border-radius:  5px;}    
input:invalid {border: solid 1px #f45653;}    
input:focus {border: solid 1px #4fa4da;}    
input:valid {border: solid 1px #59d4bf;}    
input:disabled {border: solid 0px;}
input.time {font-size: 15px; float: left; width: 75px; margin-bottom: 30px; color: @coltxt;
padding: 10px 18px; border: solid 1px #bcbcbc;  border-radius:  5px; margin-right: 15px; margin-top: -10px;}
textarea{height: 175px;}
} 
    
.tab1 {float: left; width: 100%; margin: 15px 0; position: relative; background: #fff;
    
.table {float: left; display: block; width: 100%; height: 100%; padding: 15px 15px 0;}    
    
.one-line {float: left; display: table; width: 100%; height: 40px; float: left;}   
.two-line {float: left; display: table; width: 100%; height: 30px; background: #f0f0f0; float: left;}   
.title {font-family: @fontB; color: @coltxt; display: inline-block; padding-left: 18px; min-width: 340px; }    
.sizer {color: @coltxt; display: inline-block; font-size: 14px;}
    
}

}


























